html{
	width: 100%;
	height: 100%;
}
body{
	background-image: url(BSCover.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	background-color : black;
}
.hello
{
	text-transform: uppercase;
	color: white;

	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 2em;
	text-align: center;
	padding-top: 5em;
}
a{
	color: white;
}
hr {
	   width: 65px;
	   border-width: 3px;
	   border-radius: 3px;
	   border-color: #F05F44; 
	   margin-top: 10.1em;
}
.btn{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 10px;
	border-width: 4px;
	border-radius: 40px;
	padding: 1em 2em;
	transition: 0.8s;
}

.btn:hover{
	background-color: #F05F44;
	border-color: #F05F44;
	font-size: 20px;
	color:black;

}
.mate{
	background-color: #F05F44;
	border-color: #F05F44;
	text-transform: uppercase;

}
